<form onsubmit="event.preventDefault();">
  {{#each settings as |setting|}}
    <div class="form-group">
      <label for="{{@key}}">{{localize setting.name}}</label>
      <div class="form-fields">
        {{!-- colorPicker helper deprecated in v12 in favour of custom html element --}}
        {{#if @root.useHelper}}
          {{colorPicker
            name=@key
            value=setting.value
            default=setting.default
          }}
        {{else}}
          <color-picker
            name="{{@key}}"
            value="{{setting.value}}"
            default="{{setting.default}}"
          ></color-picker>
        {{/if}}
      </div>
      <p class="hint">{{localize setting.hint}}</p>
    </div>
  {{/each}}
  <footer>
    <button type="submit">
      <i class="fa-regular fa-save"></i>
      {{localize settings.buttons.save}}
    </button>
    <button type="reset">
      <i class="fa-solid fa-undo"></i>
      {{localize settings.buttons.save}}
    </button>
  </footer>
</form>