{{#with (concat MODULE_ID ".basic-info.") as |base|}}
  <form>
    <div class="flexcol">
      <h1>{{localize (concat base "module-data.title")}}</h1>
    </div>
    <div class="readme flexcol">
      {{#with (concat base "basic-usage.") as |usage|}}
        <h2>{{localize (concat usage "heading")}}</h2>
        <p>
          <img
            alt={{localize (concat usage "alt")}}
            src="https://github.com/elpossum/fvtt-combat-range-overlay/assets/136785378/98317ccc-85d3-4ed5-b68b-582d75aa9916"
            height="50"
          />
          {{localize (concat usage "body")}}
        </p><br />
      {{/with}}
      {{#with (concat base "legend.") as |legend|}}
        <h2>{{localize (concat legend "heading")}}</h2>
        <img
          alt="{{localize (concat legend "alt")}}"
          src="https://github.com/elpossum/fvtt-combat-range-overlay/assets/136785378/ee2e8018-4bb2-44b8-b9f9-025c44d68342"
          title={{localize (concat legend "title")}}
        /><br />
        {{localize (concat legend "assumes")}}
        <ol>
          <li>{{localize (concat legend "1")}}</li>
          <li>{{localize (concat legend "2")}}</li>
          <li>{{localize (concat legend "3")}}</li>
          <li>{{localize (concat legend "4")}}</li>
          <li>{{localize (concat legend "5")}}</li>
          <li>{{localize (concat legend "6")}}</li>
          <li>{{localize (concat legend "7")}}</li>
          <li>{{localize (concat legend "8")}}</li>
        </ol><br />
      {{/with}}
      {{#with (concat base "targeting.") as |target|}}
        <img
          alt="{{localize (concat target "alt")}}"
          src="https://github.com/elpossum/fvtt-combat-range-overlay/assets/136785378/900a2659-5eca-4ae1-9aa6-3bd8c1d91251"
          title={{localize (concat target "title")}}
        /><br />
        <ul>
          <li>{{localize (concat target "single-target")}}</li>
          <li>{{localize (concat target "multiple-targets")}}</li>
          <li>{{localize (concat target "no-good-targets")}}</li>
        </ul>
      {{/with}}
      <br />
      {{#with (concat base "module-data.") as |data|}}
        <p>
          <a
            href="https://github.com/elpossum/fvtt-combat-range-overlay#readme"
            title={{localize (concat data "documentation")}}
          ><i class="fas fa-book-open"></i>
            {{localize (concat data "documentation")}}</a>
          <!-- <a href="https://github.com/elpossum/fvtt-combat-range-overlay/wiki" title="Wiki"><i class="fas fa-book"></i> Wiki / More Info</a> -->
          <a
            href="https://github.com/elpossum/fvtt-combat-range-overlay/issues"
            title={{localize (concat data "issues")}}
          ><i class="fas fa-exclamation-circle"></i>
            {{localize (concat data "issues")}}</a>
        </p>
        <p>
          <span class="version">{{localize (concat data "version")}}
            {{@root.version}}</span>
        </p>
      {{/with}}
    </div>
  </form>
{{/with}}